<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-3">

    <div class="container">
        <a class="navbar-brand text-primary" href="#">پلتفرم سهامداران</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">خانه</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href='{% url 'accounts:user_price' %}'>داشبورد</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href='{% url 'accounts:user_logout' %}'>خروج</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href='{% url 'accounts:user_register' %}'>ثبت نام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href='{% url 'accounts:user_login' %}'>ورود</a>
                    </li>
                {% endif %}


            </ul>

        </div>
    </div>
</nav>

